<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Jorge Acetozi - Ebook Chat App</title>
    
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" media="screen,projection" />
</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ebook Chat App</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="#{menu.language}">Language</a>
          <ul class="dropdown-menu">
          	<li><a id="english" href="?lang=en" th:text="#{menu.language.english}">English</a></li>
            <li><a id="portuguese" href="?lang=pt" th:text="#{menu.language.portuguese}">Portuguese</a></li>
          </ul>
        </li>
        
        <li class="dropdown" sec:authorize="isAuthenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span sec:authentication="name"></span></a>
          <ul class="dropdown-menu">
          	<li><a id="disconnect" href="#" th:text="#{menu.leave.chatroom}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 70px;">
	<h3 class="text-center" th:text="|#{chatroom.title}: ${chatRoom.name}|">Awesome Chat Room</h3>
	<hr />
	<div class="row">
		<div class="col-lg-3 col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title" th:text="#{chatroom.users}">Users</h1>
				</div>
				<div class="panel-body"
					style="height: 350px; overflow-y: scroll;">
					<table class="table table-hover">
						<tbody>

						</tbody>
					</table>
				</div>

				<div class="panel-footer">
					<button id="public" type="button" class="btn btn-success" th:text="#{chatroom.public.messages}">I want to send public messages</button>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-sm-9">
			<div class="panel panel-default">
				<div id="newMessages" class="panel-body" style="height: 435px; overflow-y: scroll;">

				</div>
			</div>
		</div>
		<div class="col-lg-12 col-sm-6">
			<div class="input-group input-group-lg">
				<span class="input-group-addon" id="sendTo">public</span>
				<input type="file" id="fileInput" style="display: none" />
				<input id="message" type="text" class="form-control" aria-describedby="sendTo" th:placeholder="#{chatroom.message.placeholder}" />
				<span class="input-group-btn">
					<button id="attach" class="btn btn-default" type="button" title="Attach file">&#128206; Attach</button>
					<button id="send" class="btn btn-default" type="button" th:text="#{chatroom.send}">Send</button>
				</span>
			</div>
			<div id="attachedFile" class="small text-muted" style="margin-top: 4px; display: none;"></div>
		</div>
	</div>
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/lib/stomp.min.js"></script>
<script src="/webjars/noty/2.2.4/jquery.noty.packaged.min.js"></script>

<script th:inline="javascript">

$(document).ready(function() {
	var stompClient = null;
	var socket = null;
	var chatRoomId = /*[[${chatRoom.id}]]*/;
	var roomClassification = /*[[${chatRoom.classification != null ? chatRoom.classification.name() : "PUBLIC"}]]*/ 'PUBLIC';
	var inputMessage = $("#message");
	var btnSend = $("#send");
	var btnDisconnect = $("#disconnect");
	var newMessages = $("#newMessages");
	var spanSendTo = $("#sendTo");
	var btnPublic = $("#public");
	var attachedFileId = null;
	var attachedFileName = null;
	var $attachedFile = $("#attachedFile");

	function connect() {
		socket = new SockJS('/ws');
		stompClient = Stomp.over(socket);
		var headers = { 'chatRoomId' : chatRoomId };
		if (typeof navigator !== 'undefined' && navigator.userAgent) {
			headers['device-type'] = navigator.userAgent;
		}
		var token = localStorage.getItem('ebookChatToken');
		if (token) {
			headers['Authorization'] = 'Bearer ' + token;
		}
		stompClient.connect(headers, stompSuccess, stompFailure);
	}
	
	function stompSuccess(frame) {
		enableInputMessage();
		successMessage("Your WebSocket connection was successfuly established!")
		
		stompClient.subscribe('/chatroom/connected.users', updateConnectedUsers);
		stompClient.subscribe('/chatroom/old.messages', oldMessages);
		
		stompClient.subscribe('/topic/' + chatRoomId + '.public.messages', publicMessages);
		stompClient.subscribe('/user/queue/' + chatRoomId + '.private.messages', privateMessages);
		stompClient.subscribe('/topic/' + chatRoomId + '.connected.users', updateConnectedUsers);
		stompClient.subscribe('/user/queue/policy-denial', policyDenial);
		stompClient.subscribe('/user/queue/recipient-warning', recipientWarning);
	}
	function policyDenial(response) {
		var body = JSON.parse(response.body);
		var reason = body.reason || 'Message blocked by policy.';
		errorMessage(reason);
	}
	function recipientWarning(response) {
		var body = JSON.parse(response.body);
		var reason = body.reason || 'Recipient may not be in this room.';
		errorMessage(reason);
	}
	
	function stompFailure(error) {
		errorMessage("Lost connection to WebSocket! Reconnecting in 10 seconds...");
		disableInputMessage();
	    setTimeout(connect, 10000);
	}
	
	function disconnect() {
		if (stompClient != null) {
			stompClient.disconnect();
		}
		window.location.href = "/chat";
	}
	
	function updateConnectedUsers(response) {
		var connectedUsers = JSON.parse(response.body);
		var $tbody = $("tbody").html("");
		
		$.each(connectedUsers, function(index, connectedUser) {
			var $tr = $("<tr />");
			var $td = $('<td />', {
				"class" : "users",
				"text" : connectedUser.username
			});
			$td.appendTo($tr);
			$tr.appendTo($tbody);
		});
		
		bindConnectedUsers();
	}
	
	function oldMessages(response) {
		var instantMessages = JSON.parse(response.body);
		
		$.each(instantMessages, function(index, instantMessage) {
			if (instantMessage.public == true) {
				appendPublicMessage(instantMessage);
			} else {
				appendPrivateMessage(instantMessage);
			}
		});
		
		scrollDownMessagesPanel();
	}
	
	function publicMessages(message) {
		var instantMessage = JSON.parse(message.body);
		appendPublicMessage(instantMessage);
		scrollDownMessagesPanel();
	}
	
	function appendPublicMessage(instantMessage) {
		var $p;
		var htmlText = linkifyDownload(escapeHtml(instantMessage.text));
		if (instantMessage.fromUser == "admin") {
			$p = $('<p class="alert alert-warning"><strong>' + instantMessage.fromUser + '</strong>: ' + htmlText + '</p>');
		} else {
			$p = $("<p>" + instantMessage.fromUser + ": " + htmlText + "</p>");
		}
		newMessages.append($p);
		if (instantMessage.dlpWarning) {
			newMessages.append('<p class="alert alert-info small">&#9888; ' + escapeHtml(instantMessage.dlpWarning) + '</p>');
		}
		bindDownloadLinks();
	}
	function bindDownloadLinks() {
		$(document).off("click.fileDownload", "a.file-download-link");
		$(document).on("click.fileDownload", "a.file-download-link", function(e) {
			var url = $(this).data("download-url");
			var token = localStorage.getItem("ebookChatToken");
			if (url && token) {
				e.preventDefault();
				var opts = { credentials: "same-origin", headers: { "Authorization": "Bearer " + token } };
				fetch(url, opts).then(function(r) {
					if (!r.ok) throw new Error("Download failed");
					return r.blob();
				}).then(function(blob) {
					var a = document.createElement("a");
					a.href = window.URL.createObjectURL(blob);
					a.download = "attachment";
					a.click();
					window.URL.revokeObjectURL(a.href);
				}).catch(function() { errorMessage("Download failed."); });
			}
		});
	}
	function linkifyDownload(text) {
		if (!text) return '';
		return text.replace(/\[\s*Download[^\]]*\]\s*\(\s*(\/api\/files\/[^)]+\/download)\s*\)/gi,
			'<a href="$1" class="file-download-link" data-download-url="$1" target="_blank" rel="noopener">Download attachment</a>');
	}
	function formatSize(bytes) {
		if (bytes < 1024) return bytes + " B";
		if (bytes < 1024 * 1024) return (bytes / 1024).toFixed(1) + " KB";
		return (bytes / (1024 * 1024)).toFixed(1) + " MB";
	}
	function escapeHtml(s) {
		if (!s) return '';
		var div = document.createElement('div');
		div.textContent = s;
		return div.innerHTML;
	}
	
	function privateMessages(message) {
		var instantMessage = JSON.parse(message.body);
		appendPrivateMessage(instantMessage);
		scrollDownMessagesPanel();
	}
	
	function appendPrivateMessage(instantMessage) {
		var htmlText = linkifyDownload(escapeHtml(instantMessage.text));
		newMessages.append('<p class="alert alert-info">[private] ' +
				'<strong>' + instantMessage.fromUser +
				' <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> ' +
				instantMessage.toUser + '</strong>: ' + htmlText + '</p>');
		if (instantMessage.dlpWarning) {
			newMessages.append('<p class="alert alert-info small">&#9888; ' + escapeHtml(instantMessage.dlpWarning) + '</p>');
		}
		bindDownloadLinks();
	}
	
	var undoSendTimeout = null;

	function sendMessage() {
		var instantMessage;

		if (inputMessageIsEmpty() && !attachedFileId) {
			inputMessage.focus();
			return;
		}
		var isPrivate = spanSendTo.text() !== "public";
		var isHighRiskRoom = roomClassification === "CONFIDENTIAL" || roomClassification === "RESTRICTED";
		if (isHighRiskRoom || isPrivate) {
			var target = isPrivate ? spanSendTo.text() : "this room (" + roomClassification + ")";
			if (!confirm("Send to " + target + "? This " + (isPrivate ? "is a private message." : "room is " + roomClassification + ".") + " Continue?")) {
				return;
			}
		}

		if (spanSendTo.text() == "public") {
			instantMessage = { 'text' : inputMessage.val() };
		} else {
			instantMessage = {
				'text' : inputMessage.val(),
				'toUser' : spanSendTo.text()
			};
		}
		if (attachedFileId) {
			instantMessage.fileRef = attachedFileId;
			attachedFileId = null;
			attachedFileName = null;
			$attachedFile.hide().text("");
		}
		var textToShow = (instantMessage.text || "").replace(/</g, "&lt;").replace(/>/g, "&gt;");
		var recipientLabel = isPrivate ? " to " + spanSendTo.text() : " (public)";
		var $pending = $('<p class="pending-send">' + textToShow + recipientLabel + ' <button type="button" class="btn btn-xs btn-warning undo-send">Undo</button></p>');
		newMessages.append($pending);
		scrollDownMessagesPanel();
		inputMessage.val("").focus();

		undoSendTimeout = setTimeout(function() {
			undoSendTimeout = null;
			$pending.remove();
			stompClient.send("/chatroom/send.message", {}, JSON.stringify(instantMessage));
		}, 3000);

		$pending.find(".undo-send").on("click", function() {
			if (undoSendTimeout) {
				clearTimeout(undoSendTimeout);
				undoSendTimeout = null;
			}
			$pending.remove();
		});
	}
	
	function inputMessageIsEmpty() {
		return inputMessage.val() == "";
	}

	function sendTo(e) {
		spanSendTo.text(e.toElement.textContent);
		inputMessage.focus();
	}
	
	function checkEnter(e) {
		var key = e.which;
		if(key == 13) {
		   btnSend.click();
		   return false;  
		}
	}
	
	function scrollDownMessagesPanel() {
		newMessages.animate({"scrollTop": newMessages[0].scrollHeight}, "fast");
	}
	
	function bindConnectedUsers() {
		$(".users").on("click", sendTo);
	}
	
	function enableInputMessage() {
		inputMessage.prop("disabled", false);
	}
	
	function disableInputMessage() {
		inputMessage.prop("disabled", true);
	}
	
	function successMessage(msg){
        noty({
            text: msg,
            layout: 'top',
            type: 'success',
            timeout: 5000
        });
	}
	
	function errorMessage(msg){
        noty({
            text: msg,
            layout: 'top',
            type: 'error',
            timeout: 5000
        });
	}
	
	$("#attach").on("click", function() { $("#fileInput").click(); });
	$("#fileInput").on("change", function() {
		var file = this.files[0];
		if (!file) return;
		var formData = new FormData();
		formData.append("file", file);
		var opts = { method: "POST", body: formData, credentials: "same-origin" };
		var token = localStorage.getItem("ebookChatToken");
		if (token) opts.headers = { "Authorization": "Bearer " + token };
		fetch("/api/files/upload", opts)
			.then(function(r) {
				if (r.status === 403) throw new Error("Upload blocked by policy.");
				if (!r.ok) throw new Error("Upload failed.");
				return r.json();
			})
			.then(function(data) {
				attachedFileId = data.fileId;
				attachedFileName = data.filename || "file";
				var sizeStr = formatSize(data.sizeBytes || 0);
				var msg = "Attached: " + attachedFileName + " (" + sizeStr + ")";
				if (data.dlpWarning) msg += " \u26a0 DLP warning";
				if (data.dlpRequireApproval) msg += " \u26a0 Sensitive content \u2013 approval may be required.";
				$attachedFile.show().text(msg);
			})
			.catch(function(err) {
				errorMessage(err.message || "File upload failed.");
			});
		this.value = "";
	});

	inputMessage.on("keypress", checkEnter).focus();
	btnSend.on("click", sendMessage);
	btnDisconnect.on("click", disconnect);
	btnPublic.on("click", function(){
		spanSendTo.text("public");
		inputMessage.focus();
	})
	
	connect();
	bindConnectedUsers();
	scrollDownMessagesPanel();
	disableInputMessage();
});
</script>

</body>
</html>